h1{
  color:hotpink;
  font-style: oblique;
  background-color: black;
}
 
footer{
  color: black;
  font-style: italic;
}
  body{
    background-image: url("img\ .jpg.css");
    background-size:contain;
    background-repeat: no-repeat;
    

  }


  